.tarefa {
  display: flex;
  background-color: rgb(240, 235, 235);
  font-family: 'Century Gothic', 'sans-serif';
  margin-bottom: 2%;
  
}
.btnDelete{
    width: 40px;
    height: 40px;
    margin-top: 7px;
    margin-left: 600px;
    background-color: rgb(61, 196, 250);
    border: none;
    border-bottom: solid 4px rgb(32, 134, 202);
    border-radius: 40%;
    color: rgb(245, 234, 234);
}

.btnDelete:hover{
  cursor: pointer;
}
.btnDelete:active{
  scale: 0.8;
}

.btnDelete .btnImg{
  width: 30px;
  height: 30px;
}