.App {
  text-align: center;
}

.header{
  display: flex;

  background-color: rgb(66, 66, 66);
}

.imgHeader{
  width: 60px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
  margin-left: 15px;
}

.titleHeader{
  text-align: start;
  font-family: 'Bahnschrift', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px;
  color: white;
}

.form{
  display: flex;
  justify-content: center;
  margin-top: 6%;
}

.input{
  border: solid 2px rgb(182, 181, 181);
  border-radius: 10px;
  width: 300px;
  height: 35px;
}

.btnCadastrar{
  margin-left: 15px;
  font-size: 30px;
  width: 40px;
  background-color: rgb(51, 190, 46);
  border: none;
  border-bottom: solid 4px rgb(2, 107, 2);
  border-radius: 10px;
  color: rgb(245, 234, 234);
}

.btnCadastrar:hover{
  cursor: pointer;
}

.btnCadastrar:active{
  scale: 0.8;
}

.listaTarefas{
  display: flex;
  border: solid 2px rgb(150, 150, 150);
  width: 50%;
  padding: 6%;
  margin: auto;
  margin-top: 5%;
}

